@charset "UTF-8";
/*
 0-600 Phone 
 600-900px Tablet-portrait
 600-1200px Tablet-landscape
(1200 -1800) normal style
 1800+ Big screens  
 $breakpoint argument choices
 -phone
 -tab-port
 -tab-land
 -big-desktop 


 1em = 16px; rem ne radi u mediaquer
  */
/*koristimo em jer zelimo da se mediq query menja ako korisnik promeni font size  */
/* u media query 1em ili 1rem ce uvek biti u odnosu na ono sto je u browseru
 a ne u odnosu na base font u  html tagu */
/* GRID */
/* colors */
/* font sizes */
/* probni deo  navigation*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* ovime smo dobili da svaki element nasledjuje sta je stavljeno u body za box-sizing */ }

html {
  font-size: 62.5%;
  /* ovo je vec definisani  base font! 1rem =10px  10px/16 - 62.5%*/
  /* 600px */
  /* 1220px */
  /* 900px */
  /* 1800px */ }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%;
      /* kada je ovo u mediq queru re m i em ce uvek da se racuna u odnosu na ono sto je u browseru a ne ovde */ } }
  @media (max-width: 75em) {
    html {
      font-size: 56.2%; } }
  @media (max-width: 56.2em) {
    html {
      /* @media(max-width: 56.2em) */
      /* If [device width] is less than or equal to 600px, then do {…}” */
      font-size: 50%;
      /* 1 rem = 8px, 8/16 = 50% */ } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

/*Scenario:
-- root font size 16px
smanjili smo na 600px ekran pali se media queri @media(max-width: 37.5em)(37.5 X 16) 
 base font size je 50 % 16 = 8px  i removi se racunaju u odnosu na to

--povecamo font size na 20:
meda query se sada pali na 750 px (37.5 * 20)
 base font size je 50 % 20 = 10px  i removi se racunaju u odnosu na to 
 */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /* pading se ne nadledjuje */
  box-sizing: border-box;
  /* 900px */ }
  @media (max-width: 56.2em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  /* Animacije */
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  /* 60% {
        transform: rotate(120deg)
    } */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /* Animacije */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBtn {
  /* Animacije */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    /* 600px */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /* Animacije */
    animation-duration: 1s;
    animation-timing-function: ease-in;
    /*  animation-iteration-count: 3; koliko puta ce se izvrsiti animacija */
    /* animation-delay: 3s; */
    /* ceka 3s pa izvrsasva animaciju */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    /* 600px */
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  /* pozadina ulazi u tekst */
  color: transparent;
  /* ove dve zadnje linije su za gradijent tekst */
  transition: all .2s;
  letter-spacing: 2px;
  /* 900px */
  /* 600px */ }
  @media (max-width: 56.2em) {
    .heading-secondary {
      font-size: 3 rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    /* efekat da se tekst iskrivljuje */
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-big {
  margin-top: 8 rem !important; }

.u-margin-top-huge {
  margin-top: 10 rem !important; }

/* GRID */
/* colors */
/* font sizes */
.btn, .btn:link, .btn:visited {
  /* <a> je ustvari button */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  /* za button element */
  border: none;
  cursor: ponter; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover {
  transform: translateY(-3px);
  /* kada hoverujemo <a> da se pomeri na gore */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* senka */ }

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  /* duplo vece  */
  opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* senka */ }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff;
    color: #777; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a;
    color: #777; }

.btn--animated {
  animation: moveInBtn .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .compositionhover .composition__photo:not(:hover) {
    /* kada se hoveruje parrent izaberi elemente koji nisu hoverovani */
    transform: scale(0.95);
    /* zoom */ }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2sec;
    outline-offset: 2rem;
    /* dodaje pading na outline iz & hover */ }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      /* kao border */
      transform: scale(1.05);
      /* zoom */
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      /* kada se hoveruje bice ispred ostalih slika */ }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  /*  .8 znaci da je transparenta */
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  /* transition ustvari pali animaciju */ }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline-block;
    -webkit-background-clip: text;
    /* pozadina ulazi u tekst */
    color: transparent;
    /* ove dve zadnje linije su za gradijent tekst */ }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    /* hover je triger za animaciju  */ }

.card {
  /* Kontejner za sve kartice */
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  /* FRONT SIDE STYLING */
  /* BACK SIDE STYLING */ }
  .card__side {
    /* element */
    height: 52rem;
    transition: all .8s ease;
    /* kada hoverujemo bilo koji menjace se oba */
    position: absolute;
    /* absolute position element is not behave as block level element  */
    width: 100%;
    top: 0;
    left: 0;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    /* skriva zadnju stranu */ }
    .card__side--front {
      /* modifier ova oba su takodje i __side */
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      /* zadnji smo postavili da je okrenut */ }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
        /* ovako se pravi gradient pozadina */ }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
        /* ovako se pravi gradient pozadina */ }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
        /* ovako se pravi gradient pozadina */ }
  .card:hover .card__side--front {
    /* kada hoverujemo parenta transformuj child(__side)  */
    /* original css: .card:hover .card__side */
    transform: rotateY(-180deg);
    /* ovaj se menja nappred */ }
  .card:hover .card__side--back {
    /* kada hoverujemo parenta transformuj child(__side)  */
    /* original css: .card:hover .card__side */
    transform: rotateY(0);
    /* ovaj se menja nazad */ }
  .card__picture {
    /* ovaj element card__picture je u card_side i to samo u front a card__side moze biti jos i front i back */
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    /*  */
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
    .card__picture--1 {
      /*  */
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat7.jpg); }
  .card__heading {
    /* card_heading je isto u card__side ali samo u divovima koji imaju front i parent je za header */
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    color: #fff;
    width: 75%; }
  .card__heading-span {
    /* sve u headingu ce da imaju span ali neka 1 neka 2 neka 3  */
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align-last: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .card__price-box {
    /* ova dva se nalaze u __cta */
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  /* kontejner */
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    /* element ovo je zasebna klasa  */
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orangered;
    --webkit-shape-outside: circle(50% at 50% 50% );
    shape-outside: circle(50% at 50% 50%);
    --webkit-clip-path: circle(50% at 50% 50% );
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-transform: uppercase;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .30;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  /* input ne nasledjuje font p */
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    /* okvir kada se fokusuej input   */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input::-webkit-input-placeholder {
    color: #999;
    /*boja placehodera  */ }
  .form__input:focus:invalid {
    /* pseudo element kada je stanje invalidno  */
    border-bottom: 3px solid #ff7730; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  opacity: 0; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  /* custom radio button */
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.4rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    transition: all .4s .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #55c57a; }
  .popup__content {
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem #000, 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .5s; }
  .popup__left {
    width: 33.33333333%;
    display: table-cell; }
  .popup__right {
    width: 66.666666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -mebkit-hyphens: auto;
    hyphens: auto; }

.header {
  height: 95vh;
  /* prekriva uvek 95% */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.877)), url(../img/nature.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* seche sliku po koordinatama */
  position: relative;
  /* 600px */ }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      /* seche sliku po koordinatama */
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    /* ovo je u stvari drugi selektor ali logiku smestamo ovde posto je deo headera ovakva sintaksa kopira sve dosad i dodaje sve sto je iza & */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* pomera  element jer se 50% meri od gornjeg levog ugla */
    text-align: center; }
  .header__logo {
    height: 8rem;
    width: 8rem; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /* centrira elemtnt u  kontejneru */
  /* 900px */ }
  .row:not(:last-child) {
    /* sve osim zadnjeg */
    margin-bottom: 8rem;
    /* 900px */ }
    @media (max-width: 56.2em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.2em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    /* sve klase koje pocinju sa tim imenon */
    float: left;
    /* 900px */ }
    .row [class^="col-"]:not(:last-child) {
      /* sve osim zadnjeg */
      margin-right: 6rem;
      /* 900px */ }
      @media (max-width: 56.2em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem;
          /* kolone sada nemaju desnu marginu nego donj */ } }
    @media (max-width: 56.2em) {
      .row [class^="col-"] {
        width: 100% !important;
        /* kada je responsive dizajn sve kolone bice duzine kao parent */ } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /  2);
    /*  */ }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) /3);
    /*  */ }
  .row .col-2-of-3 {
    width: calc(2 *((100% - 2 *6rem) /3) + 6rem);
    /*  */ }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) /4);
    /*  */ }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 *6rem) /4) + 6rem);
    /*  */ }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 *6rem) /4) + 2 * 6rem);
    /*  */ }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  /* 900px */ }
  @media (max-width: 56.2em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    /* slika logoa ponasa se kao text pa da je centriramo mozemo staviti na parent  text-align: center;  */
    width: 30rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
    /* 900px */ }
    @media (max-width: 56.2em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
    float: right;
    /* 900px */ }
    @media (max-width: 56.2em) {
      .footer__copyright {
        width: 100%;
        text-align: center; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__list {
    list-style: none; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  /* 900px */
  /* 600px */ }
  @media (max-width: 56.2em) {
    .navigation__button {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  /* 900px */
  /* 600px */ }
  @media (max-width: 56.2em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all .8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2sec; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon:after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-45deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /* podvukli smo marginu */ }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.877)), url(../img/nature.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  /* zakrivljuje element */
  margin-top: -12rem; }
  .section-features > * {
    /* direktni child  samo prvi posle njega  */
    transform: skewY(7deg);
    /* zakrivljuje element */ }

.section_tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem  0;
  margin-top: -12rem; }

.section-story {
  padding: 15rem 0;
  position: relative; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/lake.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }
