@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}

//MEDIA QUERY MANAGER

 /*
 0-600 Phone 
 600-900px Tablet-portrait
 600-1200px Tablet-landscape
(1200 -1800) normal style
 1800+ Big screens  
 $breakpoint argument choices
 -phone
 -tab-port
 -tab-land
 -big-desktop 


 1em = 16px; rem ne radi u mediaquer
  */

/*koristimo em jer zelimo da se mediq query menja ako korisnik promeni font size  */

/* u media query 1em ili 1rem ce uvek biti u odnosu na ono sto je u browseru
 a ne u odnosu na base font u  html tagu */

 @mixin respond ($breakpoint) {
    @if $breakpoint == phone {
        @media(max-width: 37.5em) { @content };/* 600px */
    }

    @if $breakpoint == tab-port {
        @media(max-width: 56.2em) { @content }; /* 900px */
    }

    @if $breakpoint == tab-land {
        @media(max-width: 75em) { @content }; /* 1220px */
    }

    @if $breakpoint == big-desktop {
        @media(min-width: 112.5em) { @content };/* 1800px */
    }


 }