/* GRID */
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horisontal:6rem;
$gutter-vertical-small: 6rem;
/* colors */
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-white:#fff;
$color-black: #000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tetriary-light:#2998ff;
$color-tetriary-dark:#5643fa;


/* font sizes */

$default-font-size: 1.6rem;