.header {
    height: 95vh; /* prekriva uvek 95% */
    background-image: linear-gradient(to right bottom,  rgba($color-primary-light, 0.801), rgba($color-primary-dark, 0.877) ) ,  url(../img/nature.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0,  100% 75vh, 0 100%); /* seche sliku po koordinatama */
    position: relative;

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0,  100% 85vh, 0 100%); /* seche sliku po koordinatama */
        clip-path: polygon(0 0, 100% 0,  100% 85vh, 0 100%);
    }

    &__logo-box {/* ovo je u stvari drugi selektor ali logiku smestamo ovde posto je deo headera ovakva sintaksa kopira sve dosad i dodaje sve sto je iza & */
        position: absolute;
        top: 4rem;
        left: 4rem;   
    }

    &__text-box {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%); /* pomera  element jer se 50% meri od gornjeg levog ugla */
        text-align: center/* ovo radimo jer je <a> element ustvari tekst i hocemo da centriramo*/
    }
    
    &__logo {
        height: 8rem;
        width: 8rem;
    }
}