.btn{
    &,
    &:link,
    &:visited { /* <a> je ustvari button */
        text-transform: uppercase;
        text-decoration: none; 
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s; 
        position: relative;
        font-size: 1.6rem;  

        /* za button element */
        border: none;
        cursor:ponter;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &:hover {
        transform:translateY(-3px); /* kada hoverujemo <a> da se pomeri na gore */
        box-shadow: 0 1rem 2rem rgba($color-black,.2);/* senka */
    }

    &:hover::after {
    transform: scaleX(1.5) scaleY(1.6);/* duplo vece  */
    opacity:0;    
    }

    &:active,
    &:focus {
        outline:none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, .2);/* senka */
    }

    &--white {
    background-color: #fff;
    color: $color-grey-dark;   

        &::after {
            background-color:$color-white;
            color: $color-grey-dark;   
        }
    }


    &--green {
        background-color: $color-primary ;
        color: $color-white;   
    
        &::after {
            background-color: $color-primary;
            color: $color-grey-dark;   
        }
    }


    &--animated {
    animation: moveInBtn .5s ease-out .75s;
    animation-fill-mode: backwards;
    }   
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom:  1px solid $color-primary;
        padding: 3px;
        transition:all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 2rem rgba($color-black, .15);
        transform: translateY(0px);

    }
}
