.card {/* Kontejner za sve kartice */
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {/* element */
        height: 52rem;
        transition: all .8s ease;    /* kada hoverujemo bilo koji menjace se oba */       
        position: absolute; /* absolute position element is not behave as block level element  */
        width: 100%;   
        top:0;
        left:0;
        border-radius: .3rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);        
      
        backface-visibility: hidden;/* skriva zadnju stranu */

        &--front {/* modifier ova oba su takodje i __side */
            background-color:$color-white
        }

        &--back {         
            transform: rotateY(180deg);/* zadnji smo postavili da je okrenut */ 
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);/* ovako se pravi gradient pozadina */
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);/* ovako se pravi gradient pozadina */
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tetriary-light, $color-tetriary-dark);/* ovako se pravi gradient pozadina */
            }
        }
    }  

    &:hover &__side--front {/* kada hoverujemo parenta transformuj child(__side)  */ /* original css: .card:hover .card__side */
        transform: rotateY(-180deg);/* ovaj se menja nappred */
    }

    &:hover &__side--back {/* kada hoverujemo parenta transformuj child(__side)  */ /* original css: .card:hover .card__side */
        transform: rotateY(0);/* ovaj se menja nazad */
    }

    &__picture {/* ovaj element card__picture je u card_side i to samo u front a card__side moze biti jos i front i back */
        background-size:cover;
        height:23rem;
        background-blend-mode:screen;/*  */       
        --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;

        &--1 {/*  */
            background-image:linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg)
        }

        &--2 {
            background-image:linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat6.jpg)
        }

        &--3 {
            background-image:linear-gradient(to right bottom, $color-tetriary-light, $color-tetriary-dark), url(../img/nat7.jpg)
        }
    }

    /* FRONT SIDE STYLING */

    &__heading {/* card_heading je isto u card__side ali samo u divovima koji imaju front i parent je za header */
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        position: absolute;
        top:12rem;
        right: 2rem;
        text-align: right;
        color: $color-white;    
        width: 75%;   
    }

    &__heading-span {/* sve u headingu ce da imaju span ali neka 1 neka 2 neka 3  */
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone; 

        &--1 {
            background-image: linear-gradient(to right bottom,
             rgba($color-secondary-light,.85),
             rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary-light,.85),
             rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
             rgba($color-tetriary-light,.85),
             rgba($color-tetriary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align-last: center;
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom:  1px solid $color-grey-light-2 
                }
            }
        }
    }
/* BACK SIDE STYLING */
    &__cta {
        position: absolute;
        text-align: center; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, - 50%);
        width: 90%;
    }

    &__price-box {/* ova dva se nalaze u __cta */
        text-align: center; 
        margin-bottom: 8rem;
        color: $color-white;
    }

    &__price-only  {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &__price-value  {
        font-size: 6rem;
        font-weight:100;
    }
}

