.composition {
    position: relative;

    &hover &__photo:not(:hover) {/* kada se hoveruje parrent izaberi elemente koji nisu hoverovani */
        transform: scale(.95); /* zoom */
    }

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius:  2px;
        position: absolute;
        z-index: 10;
        transition: all .2sec;
        outline-offset: 2rem;/* dodaje pading na outline iz & hover */

        &--p1 {
            left:0;
            top: -2rem ;
        }

        &--p2 {
            right:0;
            top:2rem;
        }

        &--p3  {
            left:20% ;
            top: 10rem ;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;/* kao border */
            transform: scale(1.05); /* zoom */
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5 );
            z-index: 20; /* kada se hoveruje bice ispred ostalih slika */
        }
    }
}