.feature-box {
    background-color: rgba($color-white , .8);/*  .8 znaci da je transparenta */
    font-size: 1.5rem;
    padding: 2.5rem; 
    text-align:center;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s; /* transition ustvari pali animaciju */

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem; 
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        display: inline-block;
        -webkit-background-clip:text;/* pozadina ulazi u tekst */
        color:transparent;/* ove dve zadnje linije su za gradijent tekst */ 
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03 ); /* hover je triger za animaciju  */
    }

    
}