.popup {
    height:100vh;
    width:100% ;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform:translate(-50%, -50%) scale(1);
    }
    
    &__close {

        &:link, &:visited {
            color:$color-grey-dark;
            position: absolute;
            top:2.5rem;
            right: 2.5rem;
            text-decoration: none;
            display: inline-block;
            font-size: 3rem;
            transition: all .4s .2s;
            line-height: 1;
        }

        &:hover {
            color:$color-primary;
        }

    }
    
    &__content {
       width:75%;
       background-color: $color-white;
      
       box-shadow: 0 2rem 4rem($color-black, .2);
        @include absCenter;
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform:translate(-50%, -50%) scale(0);
        transition: all .5s;

    }

    &__left {
        width: 33.33333333%;
        display: table-cell;
        
    }

    &__right {
        width: 66.666666667%;
        display: table-cell;
        vertical-align: middle; 
        padding: 3rem 5rem;
    }

    &__img {
        display:block;
        width:100%;

    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap:4rem; 
        column-rule: 1px solid $color-grey-light-2;
        -mebkit-hyphens:auto;
        hyphens: auto;

    }
}