@keyframes moveInLeft {/* Animacije */
    0% {
        opacity: 0;
        transform: translateX(-100px) /* rotate(-50deg); */
    }

    /* 60% {
        transform: rotate(120deg)
    } */

    80% {
        transform: translateX(1rem)
    }

    100% {
        opacity:1;
        transform: translate(0)
    }
}

@keyframes moveInRight {/* Animacije */
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }

    80% {
        transform: translateX(-1rem)
    }

    100% {
        opacity:1;
        transform: translate(0)

    }
}

@keyframes moveInBtn {/* Animacije */
    0% {
        opacity: 0;
        transform: translateY(3rem)
    }

    100% {
        opacity:1;
        transform: translate(0)

    }
}