@import "../abstracts/variabless";
/* probni deo  navigation*/



*, *::after, *::before{
    margin: 0;
    padding: 0;  
    box-sizing: inherit;/* ovime smo dobili da svaki element nasledjuje sta je stavljeno u body za box-sizing */
}
html {
    font-size: 62.5%;/* ovo je vec definisani  base font! 1rem =10px  10px/16 - 62.5%*/

    @include respond(phone) {        
        font-size:50%;// 1 rem = 8px, 8/16 = 50%
        /* kada je ovo u mediq queru re m i em ce uvek da se racuna u odnosu na ono sto je u browseru a ne ovde */
    }

    @include respond(tab-land) {        
        font-size:56.2%; // 
    }

    @include respond(tab-port) { /* @media(max-width: 56.2em) */  /* If [device width] is less than or equal to 600px, then do {…}” */     
        font-size:50%;/* 1 rem = 8px, 8/16 = 50% */
    }

    @include respond(big-desktop) {        
        font-size:75%;
    } 
}

/*Scenario:
-- root font size 16px
smanjili smo na 600px ekran pali se media queri @media(max-width: 37.5em)(37.5 X 16) 
 base font size je 50 % 16 = 8px  i removi se racunaju u odnosu na to

--povecamo font size na 20:
meda query se sada pali na 750 px (37.5 * 20)
 base font size je 50 % 20 = 10px  i removi se racunaju u odnosu na to 
 */

 body {
    font-family: "Lato", sans-serif;
    font-weight: 400; 
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;/* pading se ne nadledjuje */
     box-sizing: border-box;

     @include respond(tab-port) {        
       padding: 0;
    } 
}