.heading-primary {
    color:$color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;


    &--main {

        @include respond(phone) {    
            letter-spacing: 1rem;
            font-family:5rem; 
        }

        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;/* Animacije */
        animation-duration: 1s;
        animation-timing-function: ease-in;
       /*  animation-iteration-count: 3; koliko puta ce se izvrsiti animacija */
        /* animation-delay: 3s; *//* ceka 3s pa izvrsasva animaciju */
    }
    
    &--sub {

        @include respond(phone) {    
            letter-spacing: .5rem;
             
        }


        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;    
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip:text;/* pozadina ulazi u tekst */
    color:transparent;/* ove dve zadnje linije su za gradijent tekst */
    transition:all .2s;
    letter-spacing: 2px;

    @include respond(tab-port) { 
        font-size: 3 rem;

    }

    @include respond(phone) { 
        font-size: 2.5rem;

    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);/* efekat da se tekst iskrivljuje */
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
       margin-bottom: 3rem; 
    }

}