.section-about {
    background-color: $color-grey-light-1;
    padding:25rem 0;
    margin-top: -20vh; /* podvukli smo marginu */
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,  rgba($color-primary-light, 0.801), rgba($color-primary-dark, 0.877) ) ,  url(../img/nature.jpg);
    background-size: cover; 
    transform: skewY(-7deg ); /* zakrivljuje element */
    margin-top:-12rem;

    & > * {/* direktni child  samo prvi posle njega  */
        transform: skewY(7deg ); /* zakrivljuje element */
    }
}

.section_tours {
    background-color: $color-grey-light-1;
    padding:25rem 0 15rem  0;
    margin-top:-12rem;
}

.section-story {
    padding: 15rem 0;  
    position: relative;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
    background-image:  linear-gradient(105deg,
                                      rgba($color-white, .9) 0%,
                                      rgba($color-white, .9) 50%,
                                      transparent 50% ),
                                      url(../img/lake.jpg);
    background-size: 100%;
    height: 50rem;
    border-radius: 3px; 
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    &__form {
        width: 50%;
        padding: 6rem;

    }
}